#root {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

#header {
    display: flex;
    justify-content: space-between;
    background: #005db6;
    /*box-shadow: 0 0 10px rgb(204, 201, 201);*/
}

.header_nav-menu ul {
    display: flex;
}

#header a{
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
}

#header a:hover{
    background: #004a92;
}

#login-form, #reg-form {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 200px;
}

.login-form_header, .reg-form_header {
    text-align: center;
    width: 100%;
    background-color: #005db6;
    padding: 20px 0;
}

.login-form_header h2, .reg-form_header h2 {
    font-size: 20px;
    color: #ffffff;
}

.login-form_inputs, .reg-form_inputs {
    border: 1px solid #005db6;
    padding: 30px;
    text-align: center;
}

.login-from_inputs form, .reg-from_inputs form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-form_inputs input, .reg-form_inputs input, .news-form_inputs input {
    display: block;
    border: none;
    border-bottom: 1px solid #888888;
    font-size: 16px;
    color: #888888;
    width: 100%;
    margin-top: 40px;
    outline: none;
    padding-bottom: 4px;
}

input.error {
    border-bottom: 1px solid #ff0000;
}

span.error {
    display: block;
    color: #ff0000;
    text-align: left;
    padding-top: 4px;
    font-size: 14px;
}

.login-form_inputs input:first-child, .reg-form_inputs input:first-child {
    margin-top: 0;
}

.login-form_inputs input:focus, .reg-form_inputs input:focus, .news-form_inputs input:focus {
    border-bottom: 1px solid #005db6;
}

.login-form_inputs .login-form_button, .reg-form_inputs .reg-form_button {
    margin-bottom: 30px;
    border: none;
    background-color: #005db6;
    color: #ffffff;
    padding: 15px 0;
    cursor: pointer;
}

.login-form_inputs .login-form_button:hover, .reg-form_inputs .reg-form_button:hover {
    background-color: #004a92;
}

.login-form_inputs .login-form_button:focus, .reg-form_inputs .reg-form_button:focus {
    border: none;
}

.login-form_inputs a, .reg-form_inputs a {
    text-decoration: none;
    color: #005db6;
}

.login-form_inputs a:hover, .reg-form_inputs a:hover {
    text-decoration: underline;
}

.login-form_errors, .reg-form_errors {
    padding-top: 20px;
    color: #ff0000;
    text-align: center;
}

#home p {
    margin-top: 50px;
    color: #888888;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
}

#profile {
    margin-top: 100px;
    /*box-shadow: 0 0 10px rgb(204, 201, 201);*/
    padding: 30px;
    border: 1px solid #005db6;
}

#profile h2 {
    font-size: 40px;
}

.profile_main {
    display: flex;
    margin-top: 30px;
}

.profile_personal-info {
    width: 100%;
}

.profile_personal-info div {
    margin-top: 5px;
    font-size: 24px;
    min-height: 32px;
    display: block;
}

.profile_personal-info div:first-child {
    margin-top: 0;
}

.profile_about {
    margin-top: 40px !important;
}

p.about_text {
    font-size: 20px;
    margin-top: 10px;
}

.profile_personal-info b {
    font-weight: bold;
}

.profile_left-bar {
    margin-right: 40px;
    max-width: 300px;
}

.profile_main img {
    max-width: 300px;
    height: auto;
}

.profile_header {
    display: flex;
}

.profile_button {
    text-align: center;
    border: none;
    background-color: #005db6;
    color: #ffffff;
    margin-top: 20px;
    padding: 15px 10px;
    cursor: pointer;
    user-select: none;
    flex: 50%;
}

.profile_button:hover {
    background-color: #004a92;;
}

.profile_edit-buttons {
    display: flex;
}

.cancel {
    background-color: #cc0000;
    flex: 50%;
}

.cancel:hover {
    background-color: #b81414;
}

#profile input {
    margin: 0;
    margin-top: -2px;
    padding: 0;
    border: none;
    font-size: 24px;
    color: #888888;
    border-bottom: 1px solid #888888;
    outline: none;
}

#profile input:focus {
    border-bottom: 1px solid #005db6;
}

#profile textarea {
    resize: none;
    margin-top: 7px;
    width: 100%;
    height: 160px;
    font-family: sans-serif;
    font-size: 20px;
    color: #888888;
    border-bottom: 1px solid #888888;
    outline: none;
}

#profile textarea:focus {
    border: 1px solid #005db6;
}

.photo-link {
    width: 100%;
    margin: 5px 0px !important;
}

#profile input.error {
    border-bottom: 1px solid #ff0000;
}

#news-list {
}

#news-list .news {
    width: 100%;
    height: 300px;
    margin: 50px 0;
    padding: 30px;
    border: 1px solid #005db6;
    /*box-shadow: 0 0 10px rgb(204, 201, 201);*/
}

.news_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news a {
    font-size: 32px;
    color: #000000;
    text-decoration: none;
}

.news a:hover {
    color: #005db6;
}

.news_date {
    font-size: 20px;
}

.news p {
    color: #888888;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.news-form_inputs {
    margin: 50px 0;
    padding: 30px;
    border: 1px solid #005db6;
    /*height: 400px;*/
}

.news-form_inputs input {
    font-size: 20px;
    margin-top: 0;
}

#news-list textarea {
    margin-top: 20px;
    resize: none;
    width: 100%;
    height: 160px;
    font-family: sans-serif;
    font-size: 20px;
    color: #888888;
    border: 1px solid #888888;
    outline: none;
}

#news-list textarea.error {
    border: 1px solid #ff0000;
}

input.news-form_button {
    margin: 20px auto 0 auto;
    max-width: 30%;
    border: none;
    background-color: #005db6;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

input.news-form_button:focus {
    border: none;
}

input.news-form_button:hover {
    background-color: #004a92;
}

#news-list textarea:focus {
    border: 1px solid #005db6;
}

.news_title {
    display: flex;
    align-items: center;
}

.news_title i {
    font-size: 22px;
    margin-left: 15px;
    margin-top: 2px;
    cursor: pointer;
    color: #ffffff;
}

.news_title i:hover {
    color: #ff0000;
}

#news {
    margin-top: 50px;
}

#news .news_date {
    font-size: 24px;
}

#news h2 {
    font-size: 48px;
}

#news p {
    color: #888888;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
}

p.author {
    margin-top: 20px;
    font-style: italic;
    color: #000000 !important;
}

#news p.author a {
    margin-top: 20px;
    font-style: italic;
    color: #000000 !important;
    text-decoration: none;
}

#news p.author a:hover {
    color: #005db6 !important;
}

.add-comment-form {
    display: flex;
    align-items: center;
    margin: 60px 0;
    padding: 30px;
    border: 1px solid #005db6;
}

.add-comment-form input {
    display: block;
    border: none;
    border-bottom: 1px solid #888888;
    font-size: 20px;
    color: #888888;
    width: 100%;
    outline: none;
    padding-bottom: 4px;
}

.add-comment-form input:focus {
    border-bottom: 1px solid #005db6;
}

.fa-caret-square-right {
    font-size: 26px;
    margin-left: 20px;
    color: #005db6;
    cursor: pointer;
}

.fa-caret-square-right:hover {
    color: #004a92;
}

.comment {
    padding: 30px;
    border: 1px solid #005db6;
    margin: 30px 0;
}

.comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment_header a {
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.comment_header a:hover {
    color: #005db6;
}

.comment_author {
    display: flex;
}

.comment_author i {
    font-size: 22px;
    margin-left: 15px;
    margin-top: 2px;
    cursor: pointer;
    color: #ffffff;
}

.comment_author i:hover {
    color: #ff0000;
}

.comment_date {
    font-size: 20px;
}